################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/Newtonsoft.Json.12.0.1
/.vs/DennisDemos/config
/DemosUT/bin/Debug
/DemosUT/obj/Debug
/.vs/DennisDemos/v16/Server/sqlite3
/.vs/DennisDemos/v16/.suo
/.vs/DennisDemos/v15
/DapperDemo/obj/Debug
/DennisDemos/bin/Debug
/DennisDemos/obj
/OdataWebAPIDemo/bin
/OdataWebAPIDemo/obj/Debug
/.vs
/ExtendedMethod/obj/Debug
/IOCDemo/bin/Debug
/IOCDemo/Extensions/Services.pdb
/IOCDemo/Extensions/Services.dll
/IOCDemo/Extensions/ExtendedMethod.pdb
/IOCDemo/Extensions/ExtendedMethod.dll
/IOCDemo/obj/Debug
/packages/System.ComponentModel.Composition.4.5.0
/PlayerContract/obj/Debug
/Services/bin/Debug
/Services/obj/Debug
/Design_Patterns_Demos/obj
/Design_Patterns_Demos/SimpleFactory/obj
/OdataWebAPIDemo/obj/Release
/IOCDemo/obj/Release
/ExtendedMethod/obj/Release
/DemosUT/obj/Release
/DapperDemo/obj/Release
/Services/obj/Release
/StrategyDemos/obj
/BookingSystemBLL/bin/Debug/netcoreapp2.2
/BookingSystemBLL/obj
/Design_Patterns_Demos/SimpleFactory/bin/Debug/netcoreapp2.1
/BookingSystemV2/obj
/BookingSystemV2/bin/Debug/netcoreapp2.2
/BookingSystemIDAL/obj
/BookingSystemIBLL/obj
/BookingSystemIBLL/bin/Debug/netcoreapp2.2
/BookingSystemDAL/bin/Debug/netcoreapp2.2
/BookingSystemIBLL/BookingSystemIBLL.csproj
/BookingSystemDAL/obj
/DennisService/obj
/DennisService/bin/Debug/netcoreapp2.2
/DennisInterface/obj
/DennisInterface/bin/Debug/netcoreapp2.2
/DennisContainer/obj
/DennisContainer/bin/Debug/netcoreapp2.2
/DennisTest/obj
/DennisTest/bin/Debug/netcoreapp2.1
/DennisService/DennisService.csproj
/StrategyDemos/bin/Debug/netcoreapp2.1
/Decorator_1/bin/Debug/netcoreapp2.2
/Decorator_1/obj
/ProxyDemo/obj
/ProxyDemo/bin/Debug/netcoreapp2.2
/FactoryDemo/obj
/Just4TestDemo/obj
/ProtoTypeDemo/bin/Debug/netcoreapp2.1
/ProtoTypeDemo/obj
/TemplateMethod/bin/Debug/netcoreapp2.1
/TemplateMethod/obj
/BuilderDemo/obj
/AbstractFactoryDemo/obj
/PublishSubscriptDemo/obj
/PublishSubscriptDemo/bin/Debug/netcoreapp3.0
/ApplicationRun/obj
/ApplicationView/obj
/JobOutPutDataMOnitor/obj
/AbstractFactoryDemo/bin/Debug/netcoreapp2.1
/ApplicationRun/bin/Debug
/BuilderDemo/bin/Debug/netcoreapp3.0
/ProxyDemo/bin/Debug/netcoreapp2.1
/Just4TestDemo/bin/Debug/netcoreapp2.1
/FactoryDemo/bin/Debug/netcoreapp2.1
/DennisInterface/bin/Debug/netcoreapp2.1
/DennisContainer/bin/Debug/netcoreapp2.1
/DapperDemo/bin/Debug
/DesignPatterns/AbstractFactoryDemo/bin/Debug/netcoreapp2.1
/DesignPatterns/AbstractFactoryDemo/obj/Debug/netcoreapp2.1
/DesignPatterns/AbstractFactoryDemo/obj/Release/netcoreapp2.1
/DesignPatterns/AbstractFactoryDemo/obj
/DesignPatterns/BuilderDemo/bin/Debug/netcoreapp3.0
/DesignPatterns/BuilderDemo/obj
/DesignPatterns/Decorator/obj
/DesignPatterns/FactoryDemo/bin/Debug/netcoreapp2.1
/DesignPatterns/FactoryDemo/obj
/DesignPatterns/ProtoTypeDemo/bin/Debug/netcoreapp2.1
/DesignPatterns/ProtoTypeDemo/obj/Debug/netcoreapp2.1
/DesignPatterns/ProtoTypeDemo/obj
/DesignPatterns/ProxyDemo/bin/Debug/netcoreapp2.1
/DesignPatterns/ProxyDemo/obj
/DesignPatterns/PublishSubscriptDemo/bin/Debug/netcoreapp3.0
/DesignPatterns/PublishSubscriptDemo/obj
/DesignPatterns/SimpleFactory/bin/Debug/netcoreapp2.1
/DesignPatterns/SimpleFactory/obj
/DesignPatterns/StrategyDemos/obj
/DesignPatterns/TemplateMethod/bin/Debug/netcoreapp2.1
/DesignPatterns/TemplateMethod/obj
/IOC/IOCDemo/bin/Debug
/IOC/IOCDemo/obj
/DesignPatterns/StrategyDemos/bin/Debug/netcoreapp2.1
/DesignPatterns/Decorator/bin/Debug/netcoreapp2.2
/IOC/DennisContainer/bin/Debug/netcoreapp2.2
/IOC/DennisContainer/obj
/IOC/DennisInterface/bin/Debug
/IOC/DennisInterface/obj
/IOC/DennisService/bin/Debug/netcoreapp2.2
/IOC/DennisService/obj
/IOC/DennisTest/bin/Debug/netcoreapp2.1
/IOC/DennisTest/obj
/src/DapperDemo/bin/Debug
/src/DapperDemo/obj
/src/Other/ExtendedMethod/obj
/src/Other/Just4TestDemo/bin/Debug/netcoreapp2.1
/src/Other/Just4TestDemo/obj
/src/Other/Services/obj
/src/Other/Services/bin/Debug
/BookingSystem.BLL/bin/Debug/netcoreapp3.0
/BookingSystem.BLL/obj
/BookingSystem.UI/bin/Debug/netcoreapp3.0
/BookingSystem.UI/obj
/BookingSystem.Common/obj
/BookingSystem.IOC/bin/Debug/netcoreapp3.0
/BookingSystem.IOC/obj
/BookingSystem.Run/obj
/Dennis.Container/obj
/StatePatterns/bin/Debug/netcoreapp3.0
/StatePatterns/obj
/DesignPatterns/Adapter/AdapterDemo/obj
/DesignPatterns/Bridge/BridgeDemo/obj
/DesignPatterns/Singleton/SingletonDemo/obj
/DesignPatterns/StatePatterns/bin/Debug/netcoreapp3.0
/DesignPatterns/StatePatterns/obj
/DesignPatterns/DutyChain/DutyChainDemo/obj/Debug/netcoreapp3.0
/DesignPatterns/DutyChain/DutyChainDemo/obj/Release/netcoreapp3.0
/DesignPatterns/DutyChain/DutyChainDemo/obj
/DesignPatterns/DutyChain/DutyChainDemo/bin/Debug/netcoreapp3.0
/DesignPatterns/Accesser/AccessDemo/obj
/DennisWebDemos/DennisWebDemos/obj
/DennisAuthenticationDemo/bin
/DennisAuthenticationDemo/obj/Debug
/DennisWebDemos/DennisWebDemos/bin
/packages
/MVC_Demos/bin
/MVC_Demos/obj/Debug
/WebApi_Demos/bin
/WebApi_Demos/obj/Debug
/HttpClientSample/bin/Debug/netcoreapp2.2
/HttpClientSample/obj
/MoreEffectiveInCSharpDemos/obj
/DennisAuthenticationDemo/obj/Release
/MVC_Demos/obj/Release
/WebApi_Demos/obj/Release
/WpfApp1_demo/.vs/WpfApp1_demo/v16
/WpfApp1_demo/WpfApp1_demo/bin/Debug
/WpfApp1_demo/WpfApp1_demo/obj
/WpfApp1_demo/.vs/AiJinDiao_Client/v16/Server/sqlite3
/DennisCoreDemos/obj
/DennisCoreDemos/bin/Debug/netcoreapp3.0
/Core3.0WebApp/bin/Debug/netcoreapp3.0
/Core3.0WebApp/obj
/DesignPatterns
/Dennis.Container/bin/Debug/netcoreapp3.0
/BookingSystem.Run/bin/Debug/netcoreapp3.0
/BookingSystem.Common/bin/Debug/netcoreapp3.0
/ConsoleApp_AutoFac/bin/Debug/netcoreapp3.0
/ConsoleApp_AutoFac/obj
/ASP.Net Core Demos/MiddleWareDemos/Demo_IpRateLimitMiddleware/bin/Debug
/ASP.Net Core Demos/MiddleWareDemos/Demo_IpRateLimitMiddleware/obj
/ASP.Net Core Demos/ASPNETCORE2.0WEBDEMO/ASPNetCore2.0_WebDemo/obj
/dennis-webapi-demo/bin/Debug/netcoreapp3.1
/dennis-webapi-demo/obj
/EntityFrameworkCore_Demo/obj
/ASP.Net Core Demos/ASPNETCORE2.0WEBDEMO/ASPNetCore2.0_WebDemo/bin/Debug/netcoreapp2.2/Properties
/anc2.2/obj
/anc3.1/obj
/anc3.1_middleware_test/bin/Debug/netcoreapp3.1
/anc3.1_middleware_test/obj
/anc3.1_mvc/obj
/ancBefore2/obj
/ancbefore2.2_mvc/obj
/Ocelot.Core/obj
/micro_services/OcelotDemo/obj
