################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/Newtonsoft.Json.12.0.1
/.vs/DennisDemos/config
/DemosUT/bin/Debug
/DemosUT/obj/Debug
/.vs/DennisDemos/v16/Server/sqlite3
/.vs/DennisDemos/v16/.suo
/.vs/DennisDemos/v15
/DapperDemo/obj/Debug
/DennisDemos/bin/Debug
/DennisDemos/obj
/OdataWebAPIDemo/bin
/OdataWebAPIDemo/obj/Debug
/.vs
/ExtendedMethod/obj/Debug
/IOCDemo/bin/Debug
/IOCDemo/Extensions/Services.pdb
/IOCDemo/Extensions/Services.dll
/IOCDemo/Extensions/ExtendedMethod.pdb
/IOCDemo/Extensions/ExtendedMethod.dll
/IOCDemo/obj/Debug
/packages/System.ComponentModel.Composition.4.5.0
/PlayerContract/obj/Debug
/Services/bin/Debug
/Services/obj/Debug
/Design_Patterns_Demos/obj
/Design_Patterns_Demos/SimpleFactory/obj
/OdataWebAPIDemo/obj/Release
/IOCDemo/obj/Release
/ExtendedMethod/obj/Release
/DemosUT/obj/Release
/DapperDemo/obj/Release
/Services/obj/Release
/StrategyDemos/obj
/BookingSystemBLL/bin/Debug/netcoreapp2.2
/BookingSystemBLL/obj
/Design_Patterns_Demos/SimpleFactory/bin/Debug/netcoreapp2.1
/BookingSystemV2/obj
/BookingSystemV2/bin/Debug/netcoreapp2.2
/BookingSystemIDAL/obj
/BookingSystemIBLL/obj
/BookingSystemIBLL/bin/Debug/netcoreapp2.2
/BookingSystemDAL/bin/Debug/netcoreapp2.2
/BookingSystemIBLL/BookingSystemIBLL.csproj
/BookingSystemDAL/obj
/DennisService/obj
/DennisService/bin/Debug/netcoreapp2.2
/DennisInterface/obj
/DennisInterface/bin/Debug/netcoreapp2.2
/DennisContainer/obj
/DennisContainer/bin/Debug/netcoreapp2.2
/DennisTest/obj
/DennisTest/bin/Debug/netcoreapp2.1
/DennisService/DennisService.csproj
/StrategyDemos/bin/Debug/netcoreapp2.1
/Decorator_1/bin/Debug/netcoreapp2.2
/Decorator_1/obj
/ProxyDemo/obj
/ProxyDemo/bin/Debug/netcoreapp2.2
/FactoryDemo/obj
/Just4TestDemo/obj
/ProtoTypeDemo/bin/Debug/netcoreapp2.1
/ProtoTypeDemo/obj
/TemplateMethod/bin/Debug/netcoreapp2.1
/TemplateMethod/obj
/BuilderDemo/obj
/AbstractFactoryDemo/obj
/PublishSubscriptDemo/obj
/PublishSubscriptDemo/bin/Debug/netcoreapp3.0
/ApplicationRun/obj
/ApplicationView/obj
/JobOutPutDataMOnitor/obj
/AbstractFactoryDemo/bin/Debug/netcoreapp2.1
/ApplicationRun/bin/Debug
/BuilderDemo/bin/Debug/netcoreapp3.0
/ProxyDemo/bin/Debug/netcoreapp2.1
/Just4TestDemo/bin/Debug/netcoreapp2.1
/FactoryDemo/bin/Debug/netcoreapp2.1
/DennisInterface/bin/Debug/netcoreapp2.1
/DennisContainer/bin/Debug/netcoreapp2.1
